* {
    min-height: 0;
    margin: 0;
}

window#waybar {
    background-color: #000000;
    color: #888888;
    font-family: monospace;
}

#workspaces button, #backlight, #wireplumber, #battery, #power-profiles-daemon, #clock {
    color: inherit;
    padding: 3px 10px;
}

#workspaces button.active,
#workspaces button.focused {
    color: #ffffff;
}

#power-profiles-daemon {
    min-width: 30px;
}
