window#waybar {
    background-color: #000000;
    color: #888888;
    font-size: 18px;
    font-family: monospace;
}

#workspaces button.active,
#workspaces button.focused {
    color: #ffffff;
}
#workspaces button {
    color: inherit;
}

#backlight, #wireplumber, #battery, #power-profiles-daemon, #clock {
    padding: 0 15px;
}
#power-profiles-daemon {
    min-width: 40px;
}
