spawn-at-startup "alacritty"

screenshot-path "~/Pictures/Screenshots/screenshot-%Y-%m-%d-%H-%M-%S.png"

prefer-no-csd

animations { off; }

input {
    keyboard {
        xkb {
            layout "us,pl"
            options "caps:escape,grp:rctrl_rshift_toggle"
        }
        repeat-delay 400
        repeat-rate 40
        numlock
    }
    touchpad {
        tap
        dwt
        natural-scroll
        middle-emulation
        scroll-factor 0.15
    }
    focus-follows-mouse
}

output "eDP-1" {
    mode "2880x1800@90.001"
    scale 1
    position x=0 y=0
}
output "HDMI-A-1" { }

switch-events {
    lid-close { spawn "niri" "msg" "output" "eDP-1" "off"; }
    lid-open  { spawn "niri" "msg" "output" "eDP-1" "on"; }
}

layout {
    gaps 0
    background-color "transparent"
    center-focused-column "never"
    preset-column-widths {
        proportion 0.5
        proportion 0.75
        proportion 1.0
    }
    default-column-width { proportion 1.0; }
    focus-ring { off; }
    border {
        width 4
        active-color "#222222"
        inactive-color "#000000"
    }
}

gestures { hot-corners { off; }; }

hotkey-overlay { skip-at-startup; }

binds {
    Mod+T { spawn "alacritty"; }
    Mod+D { spawn "fuzzel"; }
    Super+Alt+L { spawn-sh "~/.local/bin/lock"; }
    Mod+B { spawn-sh "pkill -USR1 waybar"; }

    XF86AudioRaiseVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ && paplay /usr/share/sounds/freedesktop/stereo/audio-volume-change.oga"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05- && paplay /usr/share/sounds/freedesktop/stereo/audio-volume-change.oga"
    }
    XF86AudioMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }

    XF86AudioMicMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+Tab { spawn; }
    Alt+Tab { spawn; }
    Mod+O repeat=false { toggle-overview; }
    Mod+Shift+Q repeat=false { close-window; }

    Mod+Period { spawn "makoctl" "dismiss"; }
    Mod+Comma { spawn "makoctl" "restore"; }

    Mod+H { focus-column-left; }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+L { focus-column-right; }
    Mod+Shift+H { move-column-left; }
    Mod+Shift+J { move-window-down-or-to-workspace-down; }
    Mod+Shift+K { move-window-up-or-to-workspace-up; }
    Mod+Shift+L { move-column-right; }

    Mod+Left { focus-monitor-left; }
    Mod+Down { focus-monitor-down; }
    Mod+Up { focus-monitor-up; }
    Mod+Right { focus-monitor-right; }
    Mod+Shift+Left { move-column-to-monitor-left; }
    Mod+Shift+Down { move-window-to-workspace-down; }
    Mod+Shift+Up { move-window-to-workspace-up; }
    Mod+Shift+Right { move-column-to-monitor-right; }

    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }
    Mod+Shift+WheelScrollDown { focus-column-right; }
    Mod+Shift+WheelScrollUp { focus-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-column-width-back; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+M { maximize-window-to-edges; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+V { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }
    Mod+Shift+P { power-off-monitors; }
}

window-rule {
    match title="^Picture-in-Picture$"
    match title="^Picture in picture$"
    match app-id="blueman-manager"
    match app-id="1password"
    match title="Emulator"
    open-floating true
}
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match app-id=r#"1password$"#
    block-out-from "screen-capture"
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}
overview { workspace-shadow { off; }; }
