[Unit]
Description=Polkit Authentication Agent (MATE)
After=graphical-session.target

[Service]
ExecStart=/usr/libexec/polkit-mate-authentication-agent-1
Restart=on-failure

[Install]
WantedBy=graphical-session.target